# Dependencies
/node_modules
/vendor

# Laravel
.env

# laravel-ide-helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Built
/public/assets/*
/public/manifest.json

# General
npm-debug.log*

/public/mix-manifest.json
