// Import normalize.css
@import "vendor/normalize";

// Import foundation
@import "../bower/foundation/scss/foundation";

.no-margin {
	margin-bottom: 0 !important;
}
.top-margin {
	margin-top: $form-spacing;
}
.bottom-margin {
	margin-bottom: $form-spacing;
}
.vertical-margin {
	margin-top: $form-spacing;
	margin-bottom: $form-spacing;
}

form .help {
	color: $subheader-font-color;
}

.checklist > label {
	display: inline-block;
}