// Import Normalize
@import "~bulma/sass/utilities/initial-variables";
$primary: #2A9FD6;


@import "~bulma/sass/utilities/_all";

@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/tag";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/components/navbar";

.loading-screen {
	align-items: center;
	background-color: $primary;
	color: $primary-invert;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	padding: 1rem;
	width: 100%;
}
.loading-spinner {
	margin-bottom: 2rem;
	font-size: 5rem;
	&:before {
		@include loader;
	}
}

html, body {
	height: 100%;
}

iframe {
	display: block;
}

html {
	box-sizing: border-box;
	overflow: auto;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.iframe-container iframe {
	width: 100%;
	height: 100%;
}

// Flexbox based design
.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.header {
	flex: 0 0 3rem;
	height: 2.5rem;
	width: 100%;
}
.content-wrapper {
	height: 100%;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}
.live-container {
	height: 50%;
	max-height: (10/16)*100vw; // Window width / 16 * 9
	flex: 1 1 auto;
}
.chat-container {
	height: 50%;
	flex: 1 1 auto;
}

@media screen and (min-aspect-ratio: 16/11) {
	.content-wrapper {
		flex-direction: row;
	}
	.live-container {
		height: 100%;
		max-height: 100%;

		max-width: (16/10)*100vh;
		width: 70%;
	}
	.chat-container {
		height: 100%;
		max-height: 100%;
		width: 30%;
	}
}

.switcher {
	@include overlay;
	align-items: center;
	display: flex;
}
.switcher-overlay {
	@include overlay;
	background-color: rgba(0, 0, 0, 0.2);
}
.switcher-content {
	background-color: #ffffff;
	height: 100%;
	padding: 2rem 1rem;
	position: relative;
	overflow-y: auto;
	width: 100%;
	@include tablet {
		margin: 0 auto 0 0;
		width: 30rem;
	}
}
.switcher-close {
	@include delete;
	position: fixed;
	right: 10px;
	top: 10px;
}
.show {
	border: 1px solid #cccccc;
	border-radius: 0.5rem;
	display: block;
	padding: 1rem 0.5rem;
	margin-bottom: 1rem;
}
