// Import Normalize
@import "vendor/normalize";
// Import Top Bar
@import "../bower/foundation/scss/foundation/components/labels";
@import "../bower/foundation/scss/foundation/components/type";
@import "../bower/foundation/scss/foundation/components/top-bar";
@import "../bower/foundation/scss/foundation/components/visibility";

html, body {
	height: 100%;
}

iframe {
	display: block;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

#header {
	background-color: #bbbbbb;
	nav.top-bar {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
}

#container {
	#header {
		#cruise-control {
			line-height: 1.8rem;
			padding: 0 0.4875rem;
		}
		.stream .time {
			display: block;
			font-size: 0.8em;
			line-height: 1em;
			margin-top: (-$topbar-height + 1rem) / 2;
			padding-bottom: 1em;
		}
	}
	#live-container, #chat-container {
		& > iframe {
			width: 100%;
			height: 100%;
		}
	}
}

// Flexbox based design
.flexbox {
	#container {
		display: flex;

		height: 100%;
		padding-top: 45px;

		flex-flow: column wrap;
		justify-content: space-around;

		#header {
			width: 100%;
			height: $topbar-height;
			margin-top: -$topbar-height;

			flex: 0 0 $topbar-height;
		}
		#live-container {
			height: 50%;
			max-height: (10/16)*100vw; // Window width / 16 * 9
			flex: 1 1 auto;
		}
		#chat-container {
			height: 50%;
			flex: 1 1 auto;
		}

		@media screen and (min-aspect-ratio: 16/11) {
			flex-flow: row wrap;

			#header {
				flex: 0 0 100%;
			}
			#live-container {
				height: 100%;
				max-height: 100%;

				max-width: (16/10)*100vh;
				width: 70%;
			}
			#chat-container {
				height: 100%;
				max-height: 100%;
				width: 30%;
			}
		}
	}
}